body{
    background-color: rgb(250, 211, 231);

}
h1{
    font-size: 24px;
    text-align: center;
}
.title{
    font-size: 28px;
    color: brown;
    display:flex;
    justify-content: center;
}
p{
    font-size: 25px;
    text-align: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(183, 125, 154);
    width: 100%;
    height: 100px;

    
}
.logo{
    max-height: 50px;
    width: auto;
}
.menu{
    display: flex;
    justify-content: center;
    
}
a:link{
    color: chartreuse;
}
a:active{
    color: dodgerblue;
}
a:visited{
    color: darkcyan;
}
.main{
width: 100%;
height: 600px;

}
.blocmasterclass{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 400px;
    margin: 20px;
}
.bloctext{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}


.bloccart{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 400px;
    }
    .cart{
background-color:rgb(183, 125, 154);
width: 170px;
height: 300px;
padding: 30px;
margin: 20px;
position: relative;
    }
.foto{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: 10px;
    object-fit: cover;
}
button{
    border-radius: 30px;
    background-color: rgb(248, 188, 251);
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 30px;
    margin: 15px;

    
}
button:hover{
    background-color: chartreuse;
    width: 180px;
    height: 40px;
}
.blocforma{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.footer{
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    height: 100px;
    background-color:rgb(183, 125, 154) ;
    flex-direction: row;
}
    
@media (min-width:0) and (max-width: 700px){
    p{
        font-size: 16px;
    }
    .cart{
width:80% ;

padding: 10px;
margin: 10px;

    }
    .bloccart{

    flex-direction: row;
    width: 100%;
    
    }
    .bloctext{
    flex-direction: row;
    
}
  .blocmasterclass{
   
    flex-direction: row;
    width: 80%;
    
    margin: 10px;
}
.foto{
    width: 80%;
    
   
    margin: 10px;
}
img{
    width: 80%;
    
}
 .footer{
  flex-direction: row;
    padding: 10px;
    width: 90%;
  
    
}
button{
   
    width: 80%;
   
    margin: 5px;

    
}
}